<app-loader></app-loader>

<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <a class="title" routerLink="['/']">Structhing</a>
    <span class="flex-spacer"></span>
    <span class="version">Version {{appVersion}}</span>
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
        <app-navigation></app-navigation>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
