:host {
    position: absolute;
    inset: 0;

    background: var(--mdc-theme-background);
    /* color: #fff; */

    display: flex;
    flex-direction: column;

    gap: 1rem;
    padding: 2rem 0 .25rem;
}
/*
a {
    text-decoration: none;
} */


.version {
    font-size: .75rem;
    font-family: 'SourceCodePro';
    margin: auto auto 0;
}
