.file-listing {
    display: grid;
    gap: 1rem 4rem;
    grid-template-columns: 1fr auto auto;
    font-family: 'SourceCodePro';
}
.file-listing .file,
.file-listing .size,
.file-listing .date {
    font-weight: bold;
}

.file-listing .size,
.file-listing .date {
    text-align: right;
}
